/* Estilos de nuestra app */
h1 {
  color: rgb(4, 65, 24);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #022c07;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Para todo */
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
